:root {
    --mono-font: "IBM Plex Mono", monospace;
    --serif-font: "IBM Plex Serif", serif;
    --sans-font:  "IBM Plex Sans", sans-serif;
    --standard-border-radius: 5px;
    --border-witdth: 3px;
    --bg: #000000;
    --fg: #ffffff;
    --accent: #ffb300;
    --accent-chill: #ffe099;
    --accent-alt: #3772FF;
    --accent-alt-chill: #91A6FF;
    --accent-bg: #2b2b2b;
    --code: #ffffff;
    --disabled: #111;
    --fg-chill: #898EA4;
    --marked: #ffdd33;
}

*, *::before, *::after {
    box-sizing: border-box;
}

textarea,
select,
input,
progress {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

html {
    font-family: var(--serif-font);
    font-size: clamp(16px, 2.1vw, 22px);
    font-kerning: normal;
    scroll-behavior: smooth;
}

::selection {
    color: var(--bg);
    background: var(--accent-chill);
}

body {
    color: var(--fg);
    background-color: var(--bg);
    line-height: 1.5;
    display: grid;
    grid-template-columns: 1fr min(38rem, 90%) 1fr;
}

body > * {
    grid-column: 2;
}

header {
    background-color: var(--bg);
    border-bottom:var(--border-witdth) solid var(--fg-chill);
    text-align: left;
    margin-bottom: 3rem;
}

header a {
    text-decoration-line: none;
    font-weight: bold;
}

header h1 a {
    font-size: 3rem;
    font-weight: bold;
}

header nav {
    font-size: 1.25rem;
}

header nav ul,
header nav ol {
    padding:0;
}

header nav ul li,
header nav ol li {
    display: inline-block;
    padding: 0 .5rem;
}


body > header h1 {
    float: left;
    max-width: 1200px;
}

body > header p {
    max-width: 40rem;
}


body footer {
    text-align: left;
    border-top: calc(var(--border-witdth)/2) dashed var(--fg-chill);
    margin-top: 3rem;
    font-size: 0.85rem;
}

body footer a::after {
    content:"";
    color:var(--accent);
}

body header a::after {
    content:"";
    color:var(--accent);
}

main h1 {
    font-size: 2rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
main h2 {
    font-size: 1.44rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    /* font-variant: small-caps; */
    /* letter-spacing: 0.05em; */
}
main h3 { font-size: 1.15rem;
          margin-top: 2rem;
          margin-bottom: 2rem;
        }
main h4 { font-size: 0.96rem; }
main h5 { font-size: 0.96rem; }
main h6 { font-size: 0.96rem; }

p { margin: 1.5rem 0; }

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

h1, h2, h3 {
    line-height: 1.1;
}

a {
    color: var(--fg);
    font-weight: bold;
    display: inline;
    text-decoration-line: none;
    /* user-select: all; */
    /* font-variant: small-caps; */
    /* letter-spacing: 0.05em; */

}

a::after {
    content:"~";
    color:var(--accent);
}


/* a::selection { */
/*     color: var(--bg); */
/*     background: var(--accent-chill); */
/* } */

a:hover {
    text-decoration-line: none;
    display: inline;
    box-shadow: 0 0 0 var(--border-witdth) var(--fg);
    cursor: pointer;
}

button,
.button,
a.button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    border: var(--border-witdth) solid var(--accent);
    background-color: var(--accent);
    color: var(--accent);
    padding: 0.5em;
    text-decoration: none;
    line-height: normal;
}

.button[aria-disabled="true"],
input:disabled,
textarea:disabled,
select:disabled,
button[disabled] {
    cursor: not-allowed;
    background-color: var(--disabled);
    border-color: var(--disabled);
    color: var(--fg-light);
}

input[type="range"] {
    padding: 0;
}

abbr[title] {
    cursor: help;
    text-decoration-line: underline;
    text-decoration-style: dotted;
}

button:enabled:hover,
.button:not([aria-disabled="true"]):hover,
input[type="submit"]:enabled:hover,
input[type="reset"]:enabled:hover,
input[type="button"]:enabled:hover {
    background-color: var(--accent-chill);
    border-color: var(--accent-chill);
    cursor: pointer;
}

.button:focus-visible,
button:focus-visible:where(:enabled),
input:enabled:focus-visible:where(
    [type="submit"],
    [type="reset"],
    [type="button"]
) {
    outline: 2px solid var(--accent);
    outline-offset: 1px;
}


aside, details, pre, progress {
    background-color: var(--bg);
    border-style: solid;
    border-color: var(--fg);
    margin-bottom: 1rem;
}

aside {
    font-size: 1rem;
    width: 30%;
    padding: 0 15px;
    margin-inline-start: 15px;
    float: right;
}

*[dir="rtl"] aside {
    float: left;
}

article, fieldset, dialog {
    border: var(--border-witdth) solid var(--fg-chill);
    padding: 1rem;
    border-radius: var(--standard-border-radius);
    margin-bottom: 1rem;
}

article h2:first-child,
section h2:first-child,
article h3:first-child,
section h3:first-child {
    margin-top: 1rem;
}

section {
    border-top: var(--border-witdth) solid var(--fg-chill);
    border-bottom: var(--border-witdth) solid var(--fg-chill);
    padding: 2rem 1rem;
    margin: 3rem 0;
}

section + section,
section:first-child {
    border-top: 0;
    padding-top: 0;
}

section + section {
    margin-top: 0;
}

section:last-child {
    border-bottom: 0;
    padding-bottom: 0;
}

details {
    padding: 0.7rem 1rem;
}

summary {
    cursor: pointer;
    font-weight: bold;
    padding: 0.7rem 1rem;
    margin: -0.7rem -1rem;
    word-break: break-word;
}

details[open] > summary + * {
    margin-top: 0;
}

details[open] > summary {
    margin-bottom: 0.5rem;
}

details[open] > :last-child {
    margin-bottom: 0;
}

table {
    border-collapse: collapse;
    margin: 1.5rem 0;
}

figure > table {
    width: max-content;
    margin: 0;
}

td, th {
    border: var(--border-witdth) solid var(--fg-chill);
    text-align: start;
    padding: 0.5rem;
}

th {
    background-color: var(--accent-bg);
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: var(--accent-bg);
}

table caption {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

textarea,
select,
input,
button,
.button {
    font-size: inherit;
    font-family: inherit;
    padding: 0.5em;
    margin-bottom: 0.5rem;
    border-radius: var(--standard-border-radius);
    box-shadow: none;
    max-width: 100%;
    display: inline-block;
}

textarea,
select,
input {
    color: var(--fg);
    background-color: var(--bg);
    border: var(--border-witdth) solid var(--fg-chill);
}

label {
    display: block;
}

textarea:not([cols]) {
    width: 100%;
}

select:not([multiple]) {
    background-image: linear-gradient(45deg, transparent 49%, var(--fg) 51%),
                      linear-gradient(135deg, var(--fg) 51%, transparent 49%);
    background-position: calc(100% - 15px), calc(100% - 10px);
    background-size: 5px 5px, 5px 5px;
    background-repeat: no-repeat;
    padding-inline-end: 25px;
}

*[dir="rtl"] select:not([multiple]) {
    background-position: 10px, 15px;
}

input[type="checkbox"],
input[type="radio"] {
    vertical-align: middle;
    position: relative;
    width: min-content;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
    display: inline-block;
}

input[type="radio"] {
    border-radius: 100%;
}

input[type="checkbox"]:checked,
input[type="radio"]:checked {
    background-color: var(--accent);
}

input[type="checkbox"]:checked::after {
    content: " ";
    width: 0.2em;
    height: 0.4em;
    border-radius: 0;
    position: absolute;
    top: 0.04em;
    left: 0.18em;
    background-color: transparent;
    border-right: solid var(--bg) 0.08em;
    border-bottom: solid var(--bg) 0.08em;
    font-size: 1.8em;
    transform: rotate(45deg);
}

input[type="radio"]:checked::after {
    content: " ";
    width: 0.3em;
    height: 0.3em;
    border-radius: 100%;
    position: absolute;
    top: 0.125em;
    background-color: var(--bg);
    left: 0.125em;
    font-size: 1.8em;
}

input[type="color"] {
    height: 2.5rem;
    padding: 0.2rem;
}

input[type="file"] {
    border: 0;
}

hr {
    border: none;
    height: var(--border-witdth);
    background: var(--fg-chill);
    margin: 1rem auto;
}

mark {
    padding: 2px 5px;
    border-radius: var(--standard-border-radius);
    background-color: var(--marked);
    color: black;
}

mark a {
    color: var(--accent);
}

img, video {
    max-width: 100%;
    height: auto;
    border-radius: var(--standard-border-radius);
}

figure {
    margin: 0;
    display: block;
    overflow-x: auto;
}

figure > img,
figure > picture > img {
    display: block;
    margin-inline: auto;
}

figcaption {
    position: sticky;
    left: 0;
    text-align: center;
    font-size: 0.9rem;
    color: var(--fg-light);
    margin-block: 1rem;
}

blockquote {
    margin-inline-start: 2rem;
    margin-inline-end: 0;
    margin-block: 2rem;
    padding: 0.4rem 0.8rem;
    border-inline-start: 0.35rem solid var(--accent);
    color: var(--fg-light);
    font-style: italic;
}

cite {
    font-size: 0.9rem;
    color: var(--fg-light);
    font-style: normal;
}

dt {
    color: var(--fg-light);
}

code, pre, pre span, kbd, samp {
    font-family: var(--mono-font);
    color: var(--code);
}

code {
    border: calc(var(--border-witdth)/3) solid var(--fg-chill);
}


kbd {
    color: var(--code);
    border: var(--border-witdth) solid var(--code);
    border-bottom: 3px solid var(--code);
    border-radius: var(--standard-border-radius);
    padding: 0.1rem 0.4rem;
}

pre {
    --pre-extend: clamp(0rem, calc(50vw - 19rem - 1rem), 10rem);
    padding: 1rem 1.4rem;
    overflow: auto;
    color: var(--code);
    font-size: 0.75rem;
    width: fit-content;
    min-width: 100%;
    max-width: min(calc(100% + 2 * var(--pre-extend)), 90vw);
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

pre code {
    color: var(--code);
    background: none;
    margin: 0;
    padding: 0;
}

.htmlize-keyword{color: var(--accent); font-weight: bold}
.htmlize-doc{color: var(--fg-chill)}
.htmlize-comment, .htmlize-comment-delimiter{color: var(--fg-chill)}
.htmlize-constant{color: var(--accent-chill)}
.htmlize-string{color: var(--accent-chill)}
.htmlize-variable-name{color:var(--accent-alt-chill)}
.htmlize-function-name{color:var(--accent-chill)}
.htmlize-builtin{color: var(--accent-alt)}
.htmlize-operator{color: var(--fg)}
.htmlize-type{color: var(--accent-alt); font-weight:bold;}

progress {
    width: 100%;
}

progress:indeterminate {
    background-color: var(--accent-bg);
}

progress::-webkit-progress-bar {
    border-radius: var(--standard-border-radius);
    background-color: var(--accent-bg);
}

progress::-webkit-progress-value {
    border-radius: var(--standard-border-radius);
    background-color: var(--accent);
}

progress::-moz-progress-bar {
    border-radius: var(--standard-border-radius);
    background-color: var(--accent);
    transition-property: width;
    transition-duration: 0.3s;
}

progress:indeterminate::-moz-progress-bar {
    background-color: var(--accent-bg);
}

dialog {
    background-color: var(--bg);
    max-width: 40rem;
    margin: auto;
}

dialog::backdrop {
    background-color: var(--bg);
    opacity: 0.8;
}

sup, sub {
    vertical-align: baseline;
    position: relative;
}

sup { top: -0.4em; }
sub { top: 0.3em; }

.notice {
    background: var(--accent-bg);
    border: var(--border-witdth) solid var(--fg-chill);
    border-radius: var(--standard-border-radius);
    padding: 1.5rem;
    margin: 2rem 0;
}

div.notice p:first-of-type { margin-top: 0; }
div.notice p:last-of-type { margin-bottom: 0; }

@media print {
    @page { margin: 1cm; }
    body { display: block; }
    body > header { background-color: unset; }
    body > header nav, body > footer { display: none; }
    article { border: none; padding: 0; }
    a[href^="http"]::after { content: " <" attr(href) ">"; }
    abbr[title]:after { content: " (" attr(title) ")"; }
    a { text-decoration: none; }
    p { widows: 3; orphans: 3; }
    hr { border-top: var(--border-witdth) solid var(--fg-chill); }
    mark { border: var(--border-witdth) solid var(--fg-chill); }
    pre, table, figure, img, svg { break-inside: avoid; }
    pre code { white-space: pre-wrap; }
}

.post-title {flex-grow: 1; flex-shrink: 0; max-width: 100%;}

h1.post-title a::after {content:"";}

.post-date {
    font-family: var(--mono-font);
    font-size: 0.85rem;
    margin-top: 1rem;
}

.title-with-tags {display:flex; align-items: center; flex-wrap: wrap;}

.taglist, .taglist a{
    font-family: var(--mono-font);
    font-size: 0.85rem;
    font-weight: normal;
    color: var(--fg-chill);
    flex-grow: 0;
    text-align: left;
    vertical-align: center;
    /* overflow-wrap: break-word; */
    word-wrap: break-word;
}
.taglist a::after {
    content:", ";
    color: var(--fg-chill);
}
.taglist a:last-child::after {content:"";}

a.post-title-inline::after{content:"";}

.tag-title {
    font-family: var(--mono-font);
    font-weight: bold;
}
