:root {
    --sans-font:  "IBM Plex Sans", sans-serif;
    --mono-font: "IBM Plex Mono", monospace;
    --serif-font: "IBM Plex Serif", serif;
    --standard-border-radius: 5px;
    --border-width: 1px;

    color-scheme: dark;
    --bg: #000000;
    --accent-bg: #2b2b2b;
    --text: #ffffff;
    --text-light: #ababab;
    --accent: #ffb300;
    --accent-hover: #ffe099;
    --accent-text: var(--bg);
    --code: #f06292;
    --preformatted: #ccc;
    --disabled: #111;
}

html {font-family: var(--serif-font)}

body > footer {
    text-align: left;
    border-top: var(--border-width) dashed var(--border);
    margin-top: 4rem;
    padding: 0rem 1rem 1.5rem 1rem;
    a,a:visited {
        color: var(--accent-hover);
        text-decoration: none;
    }

}
