on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy_job:
    runs-on: ubuntu-latest
    name: deploy
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Deploy files
        uses: wlixcc/SFTP-Deploy-Action@a5ccb9c6211a94cc59404f0fdb2a9936a6dfee64
        with:
          username: "cobaca"
          server: "www5.your-server.de"
          ssh_private_key: ${{ secrets.SSH_PRIVATE_KEY }}
          local_path: './public/*'
          remote_path: '/public_html'
          args: '-o ConnectTimeout=5'
          sftp_only: false
