on: [push, workflow_dispatch]

jobs:
  deploy_job:
    runs-on: ubuntu-latest
    name: deploy
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Deploy files
        uses: wlixcc/SFTP-Deploy-Action@v1.2.6
        with:
          username: "cobaca"
          server: "www5.your-server.de"
          ssh_private_key: ${{ secrets.SSH_PRIVATE_KEY }}
          local_path: './public/*'
          remote_path: '/public_html'
          args: '-o ConnectTimeout=5'
          sftp_only: true
